<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="google-site-verification" content="sqK53XnfdeWZ9a7dINPGxzW9LiMwa4TS0PfKW9nGYiQ" />
    <title>발로봇</title>
        <!-- 링크 임베드 -->
        <meta name="theme-color" content="#131723">
        <meta name="description" content="2021 발로란트 최고의 디스코드 봇 VALO">
        <meta property="og:title" content="VALO 봇">
        <meta property="og:description" content="2021 발로란트 최고의 디스코드 봇 VALO">
        <meta property="og:image" content="href="https://cdn.discordapp.com/avatars/866835727735586837/e2ce1e017645e197bf48cc3a4af773ab.webp?size=128">
        <meta property="og:image:alt" content="Bot Preview Image">

    <link rel="icon" type="image/png" sizes="300x250" href="https://cdn.discordapp.com/avatars/866835727735586837/e2ce1e017645e197bf48cc3a4af773ab.webp?size=128">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color: var(--background);">
    <div id="top" style="height: 12px;">
        <nav class="navbar navbar-light navbar-expand fixed-top" style="color: var(--main-color);border-top-width: 6px;border-top-style: solid;background: var(--background);">
            <div class="container-fluid"><a class="navbar-brand" href="https://discord.com/invite/Y7G2NGtXgQ"target="_blank"style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;">VALO</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">탐색 전환</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link active smoothScroll" href="#feature"style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;">봇 정보</a></li>
                        <li class="nav-item"><a class="nav-link smoothScroll" href="#commands" style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;">명령어</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://discord.com/api/oauth2/authorize?client_id=866835727735586837&permissions=0&scope=bot%20applications.commands"target="_blank" style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;">봇 초대</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>

    <header class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" style="height: 418px;text-align: center;margin: 55px;"><img class="rounded" src="./image/body/profile.png" width="150" height="150" style="margin-top: 30px;">
        <h1 class="d-xl-flex justify-content-xl-start" style="color: var(--text-color);">VALO 봇</h1>
        <p style="color: var(--secondary-text-color);">2022 최고의 디스코드 발로란트 봇</p>
        <div class="tada animated"><div role="group" class="btn-group">    <a href="https://discord.com/api/oauth2/authorize?client_id=866835727735586837&permissions=0&scope=bot%20applications.commands" target="_blank" class="btn btn-primary shadow-none" type="button" style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;">봇 초대</a>
	
        <a class="btn btn-primary smoothScroll shadow-none" role="button" style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;"
        href="#feature">봇 정보</a></div></div>
        <div class="music-pausebutton">
            <a href="javascript:pausemusic()" class="float">
                <i class="fa fa-pause my-float"></i>
                </a>
                <br>
                <a style="color: white;">Alok, Bruno Martini (feat. Zeeba) - Hear Me Now</a>
            </div>
        
            <div class="music-playbutton">
                <a href="javascript:pausemusic()" class="float">
                    <i class="fa fa-play my-float"></i>
                    </a>
                    <br>
                    <a style="color: white;">Alok, Bruno Martini (feat. Zeeba) - Hear Me Now</a>
                    </div>
    </header>
    <div id="feature" style="height: 90px;background: var(--secondary);"><div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--background)" fill-opacity="1" d="M0,96L40,112C80,128,160,160,240,144C320,128,400,64,480,48C560,32,640,64,720,69.3C800,75,880,53,960,58.7C1040,64,1120,96,1200,96C1280,96,1360,64,1400,48L1440,32L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg></div></div>
    <div class="features-boxed" style="background: var(--secondary);">
        <div class="container" style="color: var(--main-color);">
            <div class="intro">
                <h2 class="text-center" style="color: var(--text-color);">봇 정보</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box" style="/*border-radius: 34px;*/"><i class="fa fa-bolt icon" style="color: var(--main-color);"></i>
                        <h3 class="name">빠른 봇 </h3>
                        <p class="description" style="color: var(--secondary-text-color);">이 봇은 다른 봇에 비해 번개처럼 빠릅니다!!<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box"><i class="fa fa-lock icon" style="color: var(--main-color);"></i>
                        <h3 class="name">안전한 봇</h3>
                        <p class="description" style="color: var(--secondary-text-color);">봇이 얼마나 안전한지 알수있습니다!!<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box"><i class="fa fa-smile-o icon" style="color: var(--main-color);"></i>
                        <h3 class="name">쾌적한 서비스</h3>
                        <p class="description" style="color: var(--secondary-text-color);">모든기능은 발로란트의 초점이 맞춰져서 유저들에게 편의를 제공<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <div style="background-color: var(--background);"><div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-41.53,-9.56 C167.83,173.98 302.14,-60.89 534.09,89.10 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: var(--secondary);"></path></svg></div></div>
    <div id="commands">
        <section>
            <div class="container-fluid text-white">
                <div class="row row-cols-3 justify-content-center" style="color: var(--secondary-text-color);">
                    <div class="col-auto col-md-6 col-lg-4 text-center pb-5 pt-5 number-item love_counter">
                        <h1 class="love_count" style="font-size: 70px;"><strong><%= server %></strong></h1>
                        <h4 style="color: var(--main-color);margin-top: -6px;">봇사용 서버</h4>
                    </div>
                    <div class="col-auto col-lg-4 text-center align-self-center pb-5 pt-5 love_counter">
                        <h1 class="love_count" style="font-size: 70px;"><strong><%= user %> </strong></h1>
                        <h4 style="color: var(--main-color);margin-top: -6px;">봇사용 유저</h4>
                    </div>
                </div>
            </div>
        </section><div class="container">
  <h2>VALO BOT COMMAND</h2>
  <div class="accordion">
         
    <! --- If you want more just copy the following code from here -- >
          <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">전적 명령어</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>발로야 전적 (닉네임)#(태그) - 발로란트의 전적 검색이 가능하다
           <br><img src="./assets/img/rank.PNG" />
        </p>
      </div>
    </div>
    <! --- to here :D -- >
    <! --- If you want more just copy the following code from here -- >
          <div class="accordion-item">
      <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">요원 및 무기 명령어</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>발로야 유닛 - 발로란트의 요원 정보들을 얻으실수있습니다
            <br><img src="./assets/img/unit.PNG" />
          </p>
          <p>발로야 무기목록 - 발로란트의 무기정보들을 봅니다
            <br><img src="./assets/img/weapon.PNG" />
          </p>
      </div>
    </div>
    <! --- to here :D -- >
          <div class="accordion-item">
      <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">기타 명령어</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>발로야 도움 - 발로봇을 이용하기 위한 명령어 가이드
            <br><img src="./assets/img/help.PNG" />
        </p>
        <p>발로야 초대 - 발로봇을 초대할 수 있는 링크를 뽑습니다
            <br><img src="./assets/img/invite.PNG" />
        </p>
        <p>발로야 맵 - 발로란트의 맵 정보를 봅니다
            <br><img src="./assets/img/map.PNG" />
        </p>
      </div>
    </div>

  </div>
</div></div>
    <div class="team-clean" style="background: rgba(0,0,0,0);">
        <div class="container" style="filter: blur(0px);padding-bottom: 0px;">
            <h3 class="text-center name" style="color: var(--secondary-text-color)">VALO BOT SUPPORT</h3>
            <div class="intro"></div>
            <div class="row row-cols-4 d-flex d-xl-flex justify-content-center justify-content-xl-center people" style="padding-bottom: 0px;">
                <div class="col-auto col-md-6 col-lg-4 yeet"><a href="https://discord.com/invite/Y7G2NGtXgQ" target="_blank"><img class="rounded-circle partner" src="./image/body/profile.png"></a></div>

            </div>
        </div>
    </div>
  </div>
</div></div>


<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--secondary)" fill-opacity="1" d="M0,160L48,154.7C96,149,192,139,288,154.7C384,171,480,213,576,218.7C672,224,768,192,864,181.3C960,171,1056,181,1152,192C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    <div class="footer-dark" style="background: var(--secondary);padding-top: 0px;padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col item social"><a class="smoothScroll" href="#top"><i class="icon ion-android-arrow-up"></i></a></div>
            </div>
            <p class="copyright" style="color: var(--text-color);">copyright © 2020. Every-Team Service, all rights reserved</p>
        </div>
    </div>

                <iframe width="500" height="300" src="https://www.youtube.com/embed/<%= music %>?loop=1&amp;enablejsapi=1&amp;autoplay=1&amp;playlist=<%= music %>" style="visibility:hidden;display:none" allow="autoplay"></iframe>
                <script>
                    var isPlayed = true;
                    window.onload = function(){
        $(".music-playbutton").hide(); 
        document.addEventListener('click', function(event){
            if (isPlayed){
                $("iframe")[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');
            }
        });
        $(".loading").fadeOut();
            (function() {
            var w = window;
            if (w.ChannelIO) {
                return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
            }
            var ch = function() {
                ch.c(arguments);
            };
            ch.q = [];
            ch.c = function(args) {
                ch.q.push(args);
            };
            w.ChannelIO = ch;
            function l() {
                if (w.ChannelIOInitialized) {
                return;
                }
                w.ChannelIOInitialized = true;
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
                s.charset = 'UTF-8';
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            }
            if (document.readyState === 'complete') {
                l();
            } else if (window.attachEvent) {
                window.attachEvent('onload', l);
            } else {
                window.addEventListener('DOMContentLoaded', l, false);
                window.addEventListener('load', l, false);
            }
            })();
            ChannelIO('boot', {
            "pluginKey": "{{channelio}}"
            });
    }

    function pausemusic(){
        if (isPlayed){
            isPlayed = false;
            $(".music-pausebutton").hide();
            $(".music-playbutton").show();

            $("iframe")[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
        }else{
            isPlayed = true;
            $(".music-pausebutton").show();
            $(".music-playbutton").hide();

            $("iframe")[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');
        }
    }
                </script>
                
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Counting.js"></script>
    <script src="assets/js/untitled.js"></script>
    
        </div>
</body>

</html>
